<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8"/>
    <title>Chat App</title>
</head>
<body>
<h1>Enter</h1>
<h3 th:if="@{name} == null ? 'The username field is empty'"></h3>
<form action="/enter/add" method="get">
    <input type="text" th:name="name"/>
    <p><input type="submit" value="Save" /></p>
</form>
</body>
</html>