<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8"/>
    <title>Chat App</title>
</head>
<body>
<h1>Enter</h1>
<!--<h3 th:if="${name} == null ? 'The username field is empty' : ''"></h3>-->
<form action="/enter/add" th:object="${newUser}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label for="name">Enter your name:</label>
    <input type="text" id="name" th:field="*{name}" placeholder="username"/>
    <input type="submit" value="Save" />
</form>
</body>
</html>