<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8"/>
    <title>Chat App</title>
</head>
<body>
<h1>Peer to Peer Chat App</h1>
<ul>
    <li>App<br/>Hi there! Send your message with the form below.</li>
</ul>
<ul th:each="message : ${messages}">
    <li></li>
    <li style="list-style-type:none" th:text="${message.getText()}"></li>
</ul>
<!--<form action="/enter/add" th:object="${newUser}" method="post">-->
<!--<input type="hidden" th:field="*{id}"/>-->
<!--<label for="name">Update your name:</label>-->
<!--<input type="text" id="name" th:field="*{name}" placeholder="username"/>-->
<!--<input type="submit" value="Save" />-->
<!--</form>-->
<form action="/addmessage" th:object="${newMessage}" method="post">
    <label for="text">Enter your message:</label>
    <input type="text" id="text" th:field="*{text}" placeholder="your message"/>
    <input type="submit" value="Save"/>
</form>
</body>
</html>
